.container {
    padding: 10px;
    background-color: rgb(211, 211, 211);
}

nav {
    background-color: #D3D3D3;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 16px; 
}
